{% extends "base.html" %}

{% block titulo %} Lista de jugadores {% endblock %} 

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crearjugador' %}" role="button">Agregar nuevo jugador</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Jugadores</h4>
        

        
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Numero</th>
                        <th>Posicion</th>
                        <th>Equipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for Jugadores in jugadores %} 

                    <tr>
                        <td>{{ Jugadores.nombre }} </td>
                        <td>{{ Jugadores.numero }} </td>
                        <td>{{ Jugadores.posicion }} </td>
                        <td>{{ jugadores.equipo }} </td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editarjugador' Jugadores.id %}" role="button">Editar</a>
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarjugador' Jugadores.id %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %} 


                </tbody>
            </table>

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>


{% endblock %} 
   