{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %} 

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
      <h1 class="display-3">Bienvenido al sitio de la NFL</h1>
      <p class="lead">Empezar a ingresar datos</p>
      <hr class="my-2">

      <button class="btn btn-primary btn-lg" type="button">Empezar</button>


    </div>
  </div>



{% endblock %} 
   