<!doctype html>
<html lang="en">

<head>
  <title> Nosotros </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'inicio' %}"> Inicio </a>
            <a class="nav-item nav-link active" href="{% url 'equipos' %}"> Equipos </a>
            <a class="nav-item nav-link active" href="{% url 'jugadores' %}"> Jugadores </a>
            <a class="nav-item nav-link active" href="{% url 'estadios' %}"> Estadios </a>
            <a class="nav-item nav-link active" href="{% url 'nosotros' %}"> Nosotros </a>
        </div>
    </nav>


    <style>

        body {

            font-family: Arial, sans-serif;

            margin: 0;

            padding: 0;

        }


        header {

            background-color: #f8f9fa;

            padding: 20px 0;

        }


        nav ul {

            display: flex;

            justify-content: space-around;

            list-style-type: none;

            padding: 0;

        }


        nav ul li a {

            color: #333;

            text-decoration: none;

        }


        .banner {

            background-color: #000000;

            color: white;

            padding: 100px 0;

            text-align: center;

        }


        .about {

            padding: 50px 0;

            text-align: center;

        }


        footer {

            background-color: #f8f9fa;

            padding: 20px 0;

            text-align: center;

        }

    </style>

</head>

<body>

   

    <main>

        <section class="banner">

            <h1>NFL</h1>

            <p>"Football Is Family"</p>

        </section>

        <section class="about">

            <h2>Quienes somos</h2>

            <p> Somos el National Football League, la principal liga de fútbol americano en los Estados Unidos. Fundada en 1920, cuentamos con 32 equipos.</p>

        </section>

    </main>

    <footer>

        <p>&copy; 2023 NFL. Todos los derechos reservados.</p>

    </footer>

</body>

</html>