{% extends "base.html" %}

{% block titulo %} Agregar nuevo equipo{% endblock %} 

{% block contenido %} 

<div class="card">
    <div class="card-header">
        Crear un equipo
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del equipo</h4>
        {% include 'equipos/form.html' %} 
    </div>
    <div class="card-footer text-muted">

    </div>
</div>


{% endblock %} 
   