{% extends "base.html" %}

{% block titulo %} Lista de quipos {% endblock %} 

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo equipo</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Equipos</h4>
        

        
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dueño</th>
                        <th>Evento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for Equipos in equipos %} 

                    <tr>
                        <td>{{ Equipos.nombre }} </td>
                        <td>{{ Equipos.dueño }} </td>
                        <td>{{ Equipos.evento }} </td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editar' Equipos.id %}" role="button">Editar</a>
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' Equipos.id %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %} 


                </tbody>
            </table>

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>


{% endblock %} 
   