{% extends "base.html" %}

{% block titulo %} Agregar nuevo estadio{% endblock %} 

{% block contenido %} 

<div class="card">
    <div class="card-header">
        Crear un registro
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del estadio</h4>
        {% include 'estadios/form.html' %} 
    </div>
    <div class="card-footer text-muted">

    </div>
</div>


{% endblock %} 