{% extends "base.html" %}

{% block titulo %} Editar estadio {% endblock %} 

{% block contenido %} 

<div class="card">
    <div class="card-header">
        Editar informacion del estadio
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del estadio</h4>
        {% include 'estadios/form.html' %} 
    </div>
    <div class="card-footer text-muted">

    </div>
</div>


{% endblock %} 