{% extends "base.html" %}

{% block titulo %} Lista de estadios {% endblock %} 

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crearestadio' %}" role="button">Agregar nuevo estadio</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Estadios</h4>
        

        
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Capacidad</th>
                        <th>Tamaño</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for Estadios in estadios %} 

                    <tr>
                        <td>{{ Estadios.nombre }} </td>
                        <td>{{ Estadios.capacidad }} </td>
                        <td>{{ Estadios.tamaño }} </td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editarestadio' Estadios.id %}" role="button">Editar</a>
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarestadio' Estadios.id %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %} 


                </tbody>
            </table>

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>


{% endblock %} 
   